<%- include('./partials/head',{title:"C"}); -%>
<link rel="stylesheet" href="/styles/category.css" type="text/css">

</head>


<body>
<%- include('./partials/header') -%>


<main class="category-list">
	<ul class="latest_articles">
		<% posts.forEach(function(post) { %>
			<li>
				<a href="/posts/<%= post.id %>">
					<img decoding="async" src="<%= post.yoast_head_json.og_image[0].url %>" alt="" width="">
					<h3><%- post.title.rendered %></h3>
					<p><%- post.date %></p>
				</a>
				<a href="/author/<%= post.author %>">
					<p><%- post.yoast_head_json.author %></p>
				</a>
			</li>
		<% }) %>
	</ul>

</main>

<%- include('./partials/foot'); %>