<%- include('./partials/head',{title:"C"}); -%>
<link rel="stylesheet" href="/styles/category.css" type="text/css">

</head>


<body>
<%- include('./partials/header',{img_src:""}) -%>


<main class="category-list">
	<ul class="latest_articles">
		<% posts.forEach(function(post) { %>
			<li>
				<%- include('./partials/art',{post}) %>

				<a href="/author/<%= post?.author %>">
					<p><%- post?.yoast_head_json.author %></p>
				</a>
			</li>
		<% }) %>
	</ul>

</main>

<%- include('./partials/foot'); %>