<%- include('./partials/head', {head: '', title: post.title.rendered}); -%>
<link rel="stylesheet" href="/styles/post.css" type="text/css">

</head>


<body>


<%- include('./partials/header', {header: ''}); -%>

<main class="post_article" >
	<br>
	<section class="intro_titles">
		
		<div class="intro_landmark">
			<h1><%- post.title.rendered %></h1>

			<img decoding="async" src="<%= post.yoast_head_json.og_image[0].url %>" alt="" width="">

			<!-- aside content -->
			<aside class="intro_info">
				<ul>
					<br>
					<li>
						<p>author</p>
						
						<!-- <a href="<%= post.yoast_head_json.schema["@graph"][6].url %>"><strong><%= post.yoast_head_json.schema["@graph"][6].name %></strong></a> -->
						<a href="/author/<%= post.author %>"><strong><%= post.yoast_head_json.schema["@graph"][6].name %></strong></a>
					</li>
					<br>
					<li>
						<p>leestijd</p>
						<strong><%= post.yoast_head_json.twitter_misc["Geschatte leestijd"] %></strong>
					</li>
				</ul>

			</aside>
			<aside></aside>
		</div>
	</section>
	<br>
	<br>
	<!-- article inleiding -->
	<section class="inleiding_section">
		<div class="inleiding_recenties">
			<a href=""></a>
			<p>Aantal keer gelezen: <%= locals.pageViews[post.id] %></p>
			<span>
				<p>Aantal keer gelezen: <%= locals.pageViews[post.id] %></p>
			</span>
			<form method="post" action="/post/<%= post.id %>/share">
				<p>Aantal keer gekopieerd: <span><%= direct.shares %></span></p>
				<input type="hidden" name="share" value="shares">
				<button type="submit">
					<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-clipboard"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /></svg>
				</button>
				
			</form>
			
			<form method="post" action="/post/<%= post.id %>/likes">
				<p>Aantal keer liked: <span><%= direct.likes %></span></p>

				<input type="hidden" name="like" value="like">

				<button type="submit">
					<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-thumb-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" /></svg>
				</button>
				
			</form>
		</div>
		<div class="inleiding_text">
			<h3><%- post.excerpt.rendered %></h2>
		</div>
	</section>
	<br>
	<br>
	<!-- article content -->
	<section class="post_article_content">
		<article><%- post.content.rendered %></article>
	</section>
</main>

<%- include('./partials/foot'); -%>